@charset "utf-8";

#res_01{width: 377px;height: 640px;margin-left: 200px;border: 1px solid #000;overflow: hidden;}
#res_01 header{position: relative;}
#res_01 header .logo{height: 60px;background: #ffffff;text-align: center;border-bottom: 1px solid #999;}
#res_01 header .logo a{display: inline-block;}
#res_01 header .logo a img{width: 240px;}
#res_01 header .hamburger{position: absolute;top: 15px;left: 10px;font-size: 30px;line-height: 1;cursor: pointer;}
#res_01 header nav{display: none;padding: 10px;background: #000000;}
#res_01 header nav ul{}
#res_01 header nav ul li{}
#res_01 header nav ul li a{display: block;line-height: 30px;font-size: 17px;color: #ffffff;}
#res_01 section{height: 580px;background-image: url(../img/event-01.jpg);background-size: 100% auto;background-position: 50% 0;}

#res_02{position: relative;width: 377px;height: 640px;margin-left: 200px;border: 1px solid #000;overflow: hidden;}
#res_02 header{}
#res_02 header .logo{height: 60px;background: #ffffff;text-align: center;border-bottom: 1px solid #999;}
#res_02 header .logo a{display: inline-block;}
#res_02 header .logo a img{width: 240px;}
#res_02 header .hamburger{position: absolute;top: 15px;left: 10px;font-size: 30px;line-height: 1;cursor: pointer;}
/* 반응형 웹을 구현시 배경화면에 대한 구성은 position: fized;로! */
#res_02 header nav{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 10px;background: rgba(0,0,0,.7);transform: translateY(-100%);transition: transform 0.5s;}
#res_02 header nav.active{transform: translateY(0);}
#res_02 header nav .close{position: absolute;top: 20px;right: 20px;color: #ffffff;font-size: 30px;cursor: pointer;}
#res_02 header nav ul{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
#res_02 header nav ul li{}
#res_02 header nav ul li a{display: block;line-height: 40px;font-size: 24px;font-weight: bold;color: #ffffff;}
#res_02 section{height: 580px;background-image: url(../img/event-01.jpg);background-size: 100% auto;background-position: 50% 0;}